.navbar {
  background-color: #286d72;
  font-family: 'Castoro Titling', cursive;
  font-family: 'Karla', sans-serif;
}

.navbar-brand,
.navbar-nav li a {
  color: #000000;
}

.navbar-nav li a:hover {
  color: #ffffff;
}

.navbar-brand{
  margin-left: 17px;
}

.nav-link{
  margin-right: 17px;
}


