<div class="container-fluid">
  <div class="row">
    <div class="col-md-6" id="weather-title">
      <div class="aria-label">
        <h1>
          Current weather in {{ actualWeather.name }}
        </h1>

        <hr style="color: #1c313a;" size="1" />
      </div>

      <div class="card mt-4 card-xl" id="card-weather">
        <div class="card-body">
          <h3 class="card-title">{{ actualWeather.name }} </h3>
          <img [src]="'http://openweathermap.org/img/w/' + actualWeather.icon + '.png'" class="img-fluid">
          <p class="card-text"> <strong> Main: </strong> {{ actualWeather.weatherDetails.main }} </p>
          <p class="card-text"> <strong> Description: </strong> {{ actualWeather.weatherDetails.description }} </p>
          <p class="card-text"> <strong> Temperature: </strong> {{ actualWeather.temp }} &deg;C </p>
          <p class="card-text"> <strong> Feels like: </strong> {{ actualWeather.feels_like }} &deg;C </p>
        </div>
      </div>
    </div>

    <div class="col-md-6" id="card-pronostic">
      <h1 style="text-align: center;">
        Pronostic weather for {{pronostic.city.name}}
      </h1>
      <hr>
      <div class="row d-flex">
        <div class="col-md-4" *ngFor="let forecast of pronostic.list">
          <div class="card-pronostic mt-4">
            <div class="card-body-pronostic">
              <img [src]="'http://openweathermap.org/img/w/' + forecast.weather[0].icon + '.png'" alt="Weather Icon" class="img">
              <p class="card-text-pronostic"> {{ forecast.dt_txt }} </p>
              <p class="card-text-pronostic"> {{ kelvinToCelsius(forecast.main.temp) }} </p>
              <p class="card-text-pronostic"> {{ forecast.weather[0].description }} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


